@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuerpo {
  background-color: #000000;
}

@keyframes animacionSacudon {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes scaleNavbar {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  0% {
    transform: translateY(-50px) scale(0.5);
    border-radius: 50%;
  }
  100% {
    transform: translateY(50px) scale(1);
    border-radius: 0%;
  }
}
@keyframes animacionSacudon {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes scaleNavbar {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  0% {
    transform: translateY(-50px) scale(0.5);
    border-radius: 50%;
  }
  100% {
    transform: translateY(50px) scale(1);
    border-radius: 0%;
  }
}
.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #222222;
  z-index: 9999;
}

.loader-active {
  display: flex;
}

.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #2e9999;
  animation: loader 0.5s infinite;
  animation-direction: alternate;
}

@keyframes animacionSacudon {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes scaleNavbar {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  0% {
    transform: translateY(-50px) scale(0.5);
    border-radius: 50%;
  }
  100% {
    transform: translateY(50px) scale(1);
    border-radius: 0%;
  }
}
/*================================================== NAVBAR=============================================*/
.navbar {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5411764706);
  font-weight: bold;
  font-size: 14px;
  opacity: 1;
  border-bottom: 1px solid #2e9999;
}

.fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar > .container {
  flex-direction: column;
  align-items: flex-start;
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}
.navbar-nav > li > a {
  text-decoration: none;
  color: white;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar-nav > li > a:hover {
  animation: scaleNavbar 2s ease 0s 1 normal forwards;
  text-decoration: none;
  color: #2e9999;
}

.cabecera-r > a > img {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  height: 25px;
}

.navbar-toggler {
  background-color: rgba(46, 153, 153, 0.6);
  border: 3px;
}

.logo-img > img {
  width: 120px;
}

/*@media (min-width: 767px) {
  .navbar-collapse {
      padding: 0;
  }
}*/
/*@media(min-width: 767px){
  .navbar{
    padding: 20px 0;
    background: #0000008a;
    transition-behavior: normal, normal;
    transition-duration: .5s, .5s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    transition-property: background, padding ;

  }
}*/
/* ############################################################ BOTON FLOTANTE Y BOTONES DE SECCIONES CONTACTO Y PREINSCRIPCION ############################################################################# */
/*========================================= MIXINS SECCION GALERIA EN MAIN=================================*/
/*======================================================== MIXINS BOTON FLOTANTE==============================================*/
/*======================================================== MIXIN BTN PRINCIPAL ===============================================*/
/*======================================================== MEDIA QUERIES =====================================================*/
.contenedor-flotante {
  display: block;
}

#toTop {
  position: fixed;
  bottom: 50%;
  right: 0px;
  cursor: pointer;
  display: none;
  z-index: 600;
}

#toTopcel {
  position: fixed;
  bottom: 0;
  right: 0px;
  cursor: pointer;
  display: none;
  z-index: 600;
  width: 100%;
}

.btn-principal {
  color: #fff;
  background-color: #2e9999;
  border-color: #2e9999;
  width: 100%;
  border-radius: 0px;
}

.btn-principal:visited {
  color: #fff;
  background-color: #2e9999;
  border-color: #2e9999;
  width: 100%;
  border-radius: 0px;
}

.btn-principal:active {
  color: #fff;
  background-color: #2e9999;
  border-color: #2e9999;
  width: 100%;
  border-radius: 0px;
}

.btn-principal:focus {
  color: #fff;
  background-color: #2e9999;
  border-color: #2e9999;
}

.btn-principal:hover {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

/*========================================= MIXINS SECCION GALERIA EN MAIN=================================*/
/*======================================================== MIXINS BOTON FLOTANTE==============================================*/
/*======================================================== MIXIN BTN PRINCIPAL ===============================================*/
/*======================================================== MEDIA QUERIES =====================================================*/
/*=================================================== SECCION FITNESS, SUB PAGINA CONTACTO, SUB PAGINA PREINSCRIPCION, SUB PAGINA QUIENES SOMOS==================================================*/
.parrafo2 {
  font-size: 14px;
  color: #fff;
  text-align: justify;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 300;
  margin-top: 20px;
}

/*=================================================== FOOTER MAIN Y SUBPAGINAS ==================================================*/
.titulo-f, .titulo-f > a {
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 15px;
  padding-bottom: 18px;
  padding-top: 10px;
}

/*=================================================== SUB PAGINA BENEFICIOS Y SUB PAGINA CONVENIOS ==================================================*/
.titulo-beneficios {
  font-size: 55px;
  color: #fff;
  text-align: center;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 55px;
  margin-top: 75px;
}

.titulo-b2 {
  font-size: 45px;
  color: #daff42;
  text-align: center;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 55px;
}

.beneficios {
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  width: 100%;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  margin-bottom: 15px;
}

/*=================================================== SUB PAGINAS CONTACTO HORARIOS PREGUNTAS-FRECUENTES PREINSCRIPCION QUIENES-SOMOS ==================================================*/
.titulo-sec22 {
  font-size: 55px;
  color: #fff;
  text-align: center;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  margin-top: 80px;
  text-transform: uppercase;
  line-height: 55px;
  margin-bottom: 80px;
}

/* ======================================== VIDEO PROMOCION ==================================== */
.background-video {
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.carousel {
  position: relative;
  margin-top: 0px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.carousel-control-prev {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
}

.carousel-control-next {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
}

.socio-seccion {
  /*min-height:1000px;*/
  padding-top: 0px;
  text-align: center;
  background: #000000;
}

.m-gris {
  background: #8c8c8c;
  margin: 20px;
  padding: 0px;
  height: 1px;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: white;
  background-color: #242424;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*========================================= MIXINS SECCION GALERIA EN MAIN=================================*/
/*======================================================== MIXINS BOTON FLOTANTE==============================================*/
/*======================================================== MIXIN BTN PRINCIPAL ===============================================*/
/*======================================================== MEDIA QUERIES =====================================================*/
/*================================================== MEDIA QUERY DE GALERIA ==================================== */
@media (max-width: 600px) {
  .titulo-sec2 {
    font-size: 35px;
    line-height: 35px;
  }
}
@media (max-width: 600px) {
  .titulo-sec22 {
    font-size: 35px;
    line-height: 35px;
  }
}
/* ############################################################ MEDIA QUERY SECCION 2 ############################################################################# */
@media (max-width: 900px) {
  .imagen2-seccion {
    background-image: url("../imagenes/instalaciones_01.jpg");
    height: 400px;
  }
}
/* ############################################################ MEDIA QUERY COMUNES BENEFICIOS Y CONVENIOS ############################################################################# */
@media (max-width: 600px) {
  .titulo-beneficios {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 600px) {
  .titulo-b2 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 600px) {
  .beneficios {
    font-size: 12px;
    line-height: 23px;
  }
}
/* ############################################################ MEDIA QUERY BENEFICIOS-TITULO-B ############################################################################# */
@media (max-width: 600px) {
  .titulo-b {
    font-size: 30px;
    line-height: 40px;
  }
}
/* ############################################################ MEDIA QUERY CONTAINER ############################################################################# */
/*@include media-query(
    1200px,
    "width",
    null,
    1170px,
    null,
    ".container"
);

@include media-query(
    992px,
    "width",
    null,
    970px,
    null,
    ".container"
);

@include media-query(
    768px,
    "width",
    null,
    750px,
    null,
    ".container"
);*/
/*========================================= MIXINS SECCION GALERIA EN MAIN=================================*/
/*======================================================== MIXINS BOTON FLOTANTE==============================================*/
/*======================================================== MIXIN BTN PRINCIPAL ===============================================*/
/*======================================================== MEDIA QUERIES =====================================================*/
/*========================================= MIXINS SECCION GALERIA EN MAIN=================================*/
/*======================================================== MIXINS BOTON FLOTANTE==============================================*/
/*======================================================== MIXIN BTN PRINCIPAL ===============================================*/
/*======================================================== MEDIA QUERIES =====================================================*/
/* ======================================== SECCION FITNESS ==================================== */
.fitness-section {
  min-height: 600px;
  padding-top: 140px;
  text-align: center;
  background: #000000;
  padding-bottom: 140px;
}

.titulo-n {
  font-size: 55px;
  color: #fff;
  text-align: left;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 55px;
}

.parrafo2 > li {
  list-style-type: none;
}

/* ======================================== VIDEO PROMOCION ==================================== */
.video-section {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* ======================================== CLASES Y ANIMACION ==================================== */
.animacion-seccion, .clases-seccion {
  margin-bottom: 0px;
  text-align: center;
  background: #000000;
}

.clases-seccion {
  padding-top: 140px;
}

/* ############################################################ GALERIA ############################################################################# */
/*========================================= MIXINS SECCION GALERIA EN MAIN=================================*/
/*======================================================== MIXINS BOTON FLOTANTE==============================================*/
/*======================================================== MIXIN BTN PRINCIPAL ===============================================*/
/*======================================================== MEDIA QUERIES =====================================================*/
.titulo-sec2 {
  font-size: 55px;
  color: #fff;
  text-align: center;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900px;
  text-transform: uppercase;
  line-height: 55px;
  margin-bottom: 100px;
}

.galeria {
  margin-right: 0px;
  margin-left: 0px;
}

.horarios-seccion {
  padding-top: 140px;
  margin-bottom: 0px;
  text-align: center;
  background: #000000;
}

.img-carousel img {
  height: 600px;
}

/*========================================= MIXINS SECCION GALERIA EN MAIN=================================*/
/*======================================================== MIXINS BOTON FLOTANTE==============================================*/
/*======================================================== MIXIN BTN PRINCIPAL ===============================================*/
/*======================================================== MEDIA QUERIES =====================================================*/
/*========================================== CONTACTO MAIN==========================================*/
.contacto-seccion {
  min-height: 850px;
  padding-top: 140px;
  text-align: center;
  background: #000000;
}

.parrafo3 {
  font-size: 14px;
  color: #2e9999;
  text-align: center;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-top: 25px;
}

.ico {
  margin-right: 10px;
}

.ico-menu {
  text-align: right;
  color: #15384d;
}

.contacto-img-redes img {
  width: 30px;
  height: 30px;
}

.contacto-main-img img {
  width: 100%;
}

#consulta {
  height: 250px;
}

/* ############################################################ SECCION 2 ############################################################################# */
.imagen2-seccion {
  background-image: url("../imagenes/instalaciones_01.jpg");
  background-color: #cccccc;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 140px;
}

/*====================================== FOOTER ======================================*/
.footer-seccion {
  min-height: 100px;
  padding-top: 20px;
  text-align: center;
  background: #000000;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

/*========================================= MIXINS SECCION GALERIA EN MAIN=================================*/
/*======================================================== MIXINS BOTON FLOTANTE==============================================*/
/*======================================================== MIXIN BTN PRINCIPAL ===============================================*/
/*======================================================== MEDIA QUERIES =====================================================*/
.titulo-b {
  font-size: 45px;
  color: #daff42;
  text-align: center;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 55px;
}

.beneficios img {
  width: 80%;
}

.sombra {
  box-shadow: -7px 15px 306px 28px rgba(46, 153, 153, 0.41);
  -webkit-box-shadow: -7px 15px 306px 28px rgba(46, 153, 153, 0.41);
  -moz-box-shadow: -7px 15px 306px 28px rgba(46, 153, 153, 0.41);
}

.animacion:hover {
  animation: animacionSacudon 2s ease 0s 1 normal forwards;
}

/*========================================= MIXINS SECCION GALERIA EN MAIN=================================*/
/*======================================================== MIXINS BOTON FLOTANTE==============================================*/
/*======================================================== MIXIN BTN PRINCIPAL ===============================================*/
/*======================================================== MEDIA QUERIES =====================================================*/
.titulo-f2 {
  font-size: 13px;
  color: #fff;
  text-align: center;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 15px;
  padding-bottom: 18px;
}

.horarios-seccion {
  padding-top: 140px;
  margin-bottom: 0px;
  text-align: center;
  background: #000000;
}

.table-hover tbody tr th:nth-child(1), .table-hover tbody tr th:nth-child(7), .table-hover tbody tr th:nth-child(5) {
  background-color: #2e9999;
}

.img-horarios {
  width: 100%;
}

/*========================================= MIXINS SECCION GALERIA EN MAIN=================================*/
/*======================================================== MIXINS BOTON FLOTANTE==============================================*/
/*======================================================== MIXIN BTN PRINCIPAL ===============================================*/
/*======================================================== MEDIA QUERIES =====================================================*/
.titulo-pf, .titulo-pf > a {
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 15px;
  padding-bottom: 18px;
  padding-top: 10px;
  background-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
}

.accordion-body {
  background-color: #000000;
  color: #fff;
}

/*========================================= MIXINS SECCION GALERIA EN MAIN=================================*/
/*======================================================== MIXINS BOTON FLOTANTE==============================================*/
/*======================================================== MIXIN BTN PRINCIPAL ===============================================*/
/*======================================================== MEDIA QUERIES =====================================================*/
.parrafo {
  font-size: 14px;
  color: #666;
  text-align: justify;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 300;
}

/*# sourceMappingURL=estilos.css.map */
