@import "componentes/reset.scss";
@import "componentes/navbar.scss";
@import "componentes/botones.scss";
@import "componentes/comunes.scss";
@import "componentes/video.scss";
@import "componentes/carrusel.scss";
@import "componentes/socio.scss";
@import "componentes/barra-gris.scss";
@import "componentes/form.scss";
@import "media-queries/media-queries.scss";
@import "mixins/mixins.scss";
@import "secciones-main/fitness.scss";
@import "secciones-main/video-promo.scss";
@import "secciones-main/clases-animacion.scss";
@import "secciones-main/galeria.scss";
@import "secciones-main/contacto.scss";
@import "secciones-main/seccion2.scss";
@import "secciones-main/footer.scss";
@import "sub-paginas/beneficios.scss";
@import "sub-paginas/convenios.scss";
@import "sub-paginas/horarios.scss";
@import "sub-paginas/preguntas-frecuentes.scss";
@import "sub-paginas/preinscripcion.scss";

