$fuente: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular",
  "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

@import "../mixins/mixins.scss";

@include template_titulos_parrafos(45px,#daff42,center,$fuente,normal,900,".titulo-b",2,null,text-transform,uppercase,line-height,55px);

.beneficios img {
  width: 80%;
}

.sombra {
  box-shadow: -7px 15px 306px 28px rgba(46, 153, 153, 0.41);
  -webkit-box-shadow: -7px 15px 306px 28px rgba(46, 153, 153, 0.41);
  -moz-box-shadow: -7px 15px 306px 28px rgba(46, 153, 153, 0.41);
}

.animacion:hover{
  animation: animacionSacudon 2s ease 0s 1 normal forwards;
}
