/* ############################################################ SECCION 2 ############################################################################# */
.imagen2-seccion {
  background-image: url("../imagenes/instalaciones_01.jpg");
  background-color: #cccccc;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 140px;
}
