.fitness-section {
  min-height: 600px;
  padding-top: 140px;
  text-align: center;
  background: #000000;
  padding-bottom: 140px;
}

.titulo-n {
  font-size: 55px;
  color: #fff;
  text-align: left;
  font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 55px;
}
