@import "_animacion.scss";
/*================================================== NAVBAR=============================================*/

.navbar {
  position: relative;
  background-color: #0000008a;
  font-weight: bold;
  font-size: 14px;
  opacity: 1;
  border-bottom: 1px solid #2e9999;
}

.fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}


.navbar > .container {
  flex-direction: column;
  align-items: flex-start;
  
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  > a {
    text-decoration: none;
    color: white;
    font-family: "Darker Grotesque", "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

    &:hover {
      animation: scaleNavbar 2s ease 0s 1 normal forwards;
      text-decoration: none;
      color: #2e9999;
    }
  }
  
}

.cabecera-r > a > img {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  height: 25px;
}

.navbar-toggler {
  background-color: rgba(46, 153, 153, 60%);
  border: 3px;
}

.logo-img > img {
  width: 120px;
}

/*@media (min-width: 767px) {
  .navbar-collapse {
      padding: 0;
  }
}*/



/*@media(min-width: 767px){
  .navbar{
    padding: 20px 0;
    background: #0000008a;
    transition-behavior: normal, normal;
    transition-duration: .5s, .5s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    transition-property: background, padding ;

  }
}*/
