/*=================================================== SECCION FITNESS, SUB PAGINA CONTACTO, SUB PAGINA PREINSCRIPCION==================================================*/

.parrafo2 {
    font-size: 14px;
    text-align: justify;
    color: #fff;
    font-family: 'Darker Grotesque', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-top: 20px;
  
    > li {
      list-style-type: none;
    }
  }
  